In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'Name': ['Hema', 'Fatima', 'Ali'], 'Age': [24,20, 50]})

     Name  Age
0    Hema   24
1  Fatima   20
2     Ali   50

In [16]:
pd.Series(['Flour','Milk','Eggs','Spam'],['4 cups','1 cup', '2 large', '1 can'], name='Dinner')

4 cups     Flour
1 cup       Milk
2 large     Eggs
1 can       Spam
Name: Dinner, dtype: object